[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/veclib"]
	path = dependencies/veclib
	url = git@github.com:GMIVLs/veclib.git
